<template>
  <div class="navbar">
    <div class="mycontainer">
        <div class="row">
            <img src="../assets/img/PicsArt_10-31-01.23.53.png" width="132px" height="129px">
        </div>
        <div class="textname" width="100px">
            <h1 >Tacoyo Library System</h1>
        </div>
        <div class="col-sm-3 user">
            <img src="../assets/img/user1.png" width="100px" height="100px">
            <p class="col-sm-3">WELCOME</p>
        </div>
      </div>
        <div class="dropdown button2">
          <a class="btn btn-lg dropdown-toggle" data-toggle="dropdown">
            Kyle Tacoyo
          <span class="caret"></span>
          </a>
        <ul class="dropdown-menu">
          <li>
            <a href="/account">ACCOUNT</a>
          </li>
          <li>
            <a href="/status">STATUS</a>
          </li>
          <li>
            <a href="/logout">LOGOUT</a>
          </li>  
        </ul>
        </div>
  </div>
</template>

