<template>
    <div>
        
        <div class="sidebar">
                <div class="coontainer-fluid">
                    <div class="row content">
                        <div class="col-sm-3 sidenav">
                            <ul class="nav nav-pills nav-stacked">
                                <li class="active">
                                    <router-link to="/dashboard">
                                    <img src="../assets/img/dashboard.svg" height="50px" width="50px">
                                    dashboard
                                    </router-link>
                                </li><br><br>
                                <a class="">
                                    <router-link to="/patron">
                                    <img src="../assets/img/patron.svg" height="50px" width="50px">
                                    Patron Management
                                    </router-link>
                                </a>
                                <a class="">
                                    <router-link to="/book">
                                    <img src="../assets/img/book1.svg" height="50px" width="50px">
                                    BOOK MANAGEMENT 
                                    </router-link>
                                </a>
                                 <a class="">
                                    <router-link to="/settings">
                                    <img src="../assets/img/settings.svg" height="50px" width="50px">
                                    Settings
                                    </router-link>
                                </a>
                            </ul>
                        </div>       
                </div>
        </div>
        </div>
    </div>
</template>
<script>
export default {
    props:{
        Active: String,
    },
};
