* {
	margin:0;
	padding: 0;
	box-sizing: border-box;

}
body{
	font-family: sans-serif;
	background: rgba(235, 201, 160, 1);
	object-fit: fill;
	 margin: 0px;
    padding: 0px;
}



.jumbotron1{
	height:1px;
	width:50px;
	

	
}
.carousel{
	height:500;
	border:solid white;
}
.jumbotron{
	background: rgba(235, 201, 160, 1);
	border: 
}

.image1{
	height: 50px;
    width: 50px;
    left: 83px;
    top: 111px;
    border-radius: 0px;

}

.image2{
	height: 50px;
    width: 50px;
    left: 83px;
    top: 111px;
    border-radius: 0px;


}

.image3{
	height: 70px;
    width: 70px;
    left: 83px;
    top: 111px;
    border-radius: 0px;

}

.image4{
	height: 100px;
    width: 100px;
    left: 100px;
  	


}

.tacfood{
	height:300px;
	width: 300px;
	position: absolute;
	border-radius: :0px;
	top:130px;
	right:200px;
	object-fit: fill;
}

.tacfoodfont{
	height:400px;
	width: 400px;
	position: absolute;
	border-radius: :0px;
	top:90px;
	right:50px;
	object-fit: fill;
}



.btn-default1{
	width:100px;
	height: 100px;
	position: relative;
	left:5px; 
}


.btn-default2{
	width:100px;
	height: 100px;
	position: relative;
	left:15px; 
}

.btn-default3{
	width:150px;
	height: 170px;
	position: relative;
	left:15px; 
}

.btn-default4{
	width:130px;
	height: 120px;
	position: relative;
	left:1200px; 
	
}

.carousel-inner img {
    width: 100%;
    height: 100%;
  }	

.img{
	object-fit: fill;
	width:200px;
	height:400px;
}
	

.borderhome{
	border: 5px solid white;
	height: 900px;
	width: 1200px;
	margin:20px auto;

}

.item1{
	
    left: 83px;
    top: 200px;
    border-radius: 0px;
    position: relative;
    height: 500px;
    width: 500px;
}

.item2{
	 left: 183px;
    top:1425px;
	position: absolute;
}

.borderfood{
	border: 5px solid white;
	height: 800px;
	width: 800px;
	margin:20px auto;
	position: absolute;
	top:1150px;
	right:150px;

}

.font{
	text-align: center;
	font-family: arial;
	font-size: large;
	position: 	absolute;	
	top:250px;
	right:15px;
}

.delivery{
border: 1px solid white;
	height: 1000px;
	width: 1350px;
	margin:20px auto;


}

.iconhouse{
    left: 83px;
    top: 2450px;
    border-radius: 0px;
    position:absolute	;
}

.icontree{

 left: 190px;
    top: 2450px;
    border-radius: 0px;
    position:absolute	;
}

.iconroad{
	vertical-align: middle;	
	position:relative;			
	top:400px;
	right:150px;

}

.iconlocation{
    left: 150px;
    top: 460px;
    border-radius: 0px;
    position: relative;
}

.icondelivery{
	right: 83px;
    top: 2450px;
    border-radius: 0px;
    position:absolute	;
}

.font2{
	text-align: center;
	font-family: arial;
	font-size: 50px;	
	right: 120px;
    top: 2900px;
	position: absolute;
	
}

.fontnum{
	text-align: center;
	font-family: arial;
	font-size: 30px;
}
.fb{
	position: relative;
	right: 83px;
}

